
{% block footer%}
<footer class="footer">
    <div class="footer-text">OTOKON Bilişim Ekibi - 2024<br><small>Tasarım ve Uygulama | Enbiya Çabuk</small></div>
    <div class="footer-icons">
        <a href="https://www.facebook.com/otokon/" target="_blank" class="footer-icon"><i class="fab fa-facebook-f fa-xl"></i></a>
        <a href="https://twitter.com/ituotokon" target="_blank" class="footer-icon"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
        <a href="https://www.instagram.com/ituotokon/" target="_blank" class="footer-icon"><i class="fa-brands fa-instagram fa-xl"></i></a>
        <a href="https://www.linkedin.com/company/ituotokon/" target="_blank" class="footer-icon"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
    </div>
</footer>
{%endblock%}
